.custom-modal-correcto .modal-body-correcto {
    background-color: #e6ffe6; /* Fondo verde claro */
    color: #2d572c; /* Texto verde oscuro */
}

.popup-correcto-icon {
    color: #28a745; /* Color del ícono verde */
    font-size: 60px; /* Tamaño del ícono */
}

.popup-correcto-button {
    color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #f8f9fa; /* Color claro para el botón */
    border: 1px solid #ced4da; /* Borde claro */
    border-radius: 10px;
    cursor: pointer;
}

.popup-correcto-text-green {
    color: #28a745; /* Texto verde */
}
