.suministros-container {
    display: flex;
    flex-direction: column; /* Cambia a columna para que el título esté arriba */
    align-items: flex-start;
    position: fixed;
    bottom: 20px;
    left: 100px;
    height: 100px; /* Ajuste de altura para incluir el título */
}

.titulo-suministros {
    margin-bottom: 5px; /* Espaciado entre el título y las imágenes */
    color: black; /* Cambia el color del texto según tu diseño */
    font-size: 2rem; /* Tamaño del texto */
}

.suministros-imagenes {
    display: flex;
    flex-direction: row; /* Muestra las imágenes en fila */
    height: 60px; /* Ajusta la altura de las imágenes */
}

.suministro {
    margin: 0 5px; /* Espaciado entre las imágenes */
}

.suministro img {
    height: 100%; /* Ajusta la imagen a la altura del contenedor */
    width: auto;
}