.temporizador-container {
    position: fixed;
    bottom: 20px;
    right: 180px;
    display: flex;
    flex-direction: column; /* Para que el título esté encima del temporizador */
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
}

.titulo-temporizador {
    margin-bottom: 10px; /* Espacio entre el título y el temporizador */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.temporizador {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    color: white;
}

.icono-temporizador {
    margin-right: 10px;
    font-size: 3.5rem;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tiempo-restante {
    font-weight: bold;
}