.temporizador {
    position: fixed;
    bottom: 20px;
    right: 180px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.icono-temporizador {
    margin-right: 10px;
    font-size: 3.5rem;
    /* Aumenta el tamaño del icono */
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tiempo-restante {
    font-weight: bold;
}