.principal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para el título principal */
.principal-title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Estilo para el contenedor de la pregunta */
.pregunta-container {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Estilo para el título de la pregunta */
.pregunta-titulo {
    font-weight: 400; /* fw-regular en Bootstrap */
    margin-left: 18rem;
    margin-right: 18rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/* Estilo para el input de respuesta */
.input-centered {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilo para el botón de envío */
.btn-custom {
    margin-top: 0.5rem;
    border: 1px solid #000;
}